.draggable {
    -webkit-app-region: drag;
}

.not-draggable {
    -webkit-app-region: no-drag;
}

.point-container {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.content-container {
    border: 1px solid black;
}